.card .card-stacked .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  cursor: pointer;
  color: #000000;
}

button {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
}