div.searchbar {
  margin-top: 30px;
}

button.searchButton {
  color: #ffffff;
}

input {
  color: #ffffff;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #1d1c1c;
}